<!-- Loop over each object in the projects array -->
{{#each projects as |project|}}
  <div class="row mb-4 project">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          {{project.name}}</h5>
        <p class="card-description">{{project.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{format_date project.date_created}}</li>
        <li class="list-group-item"><span class="dollar-amount">{{format_amount
              project.needed_funding
            }}</span>
          needed!</li>
        <li class="list-group-item">Created by
          {{project.user.name}}</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link"><a href="/project/{{project.id}}">Card
            link</a></a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
{{/each}}