<div class="homepage">
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a class="title" href="/">ProjectSpot</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
          <a href="/profile">My Account</a>
          |
          <button class="no-button" id="logout">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <div class="row justify-content-center">
        <div class="col-auto">
          <h2>Welcome,
            <span style="text-transform:uppercase">{{name}}</span>!</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <h3 style="text-align:center">Create your Project!</h3>

          <form class="form new-project-form">
            <div class="form-group">
              <label for="project-name">Your name:</label>
              <input
                class="form-input"
                type="text"
                id="project-name"
                name="project-name"
              />
            </div>
            <div class="form-group">
              <label for="project-funding">Goal:</label>
              <input
                class="form-input"
                type="number"
                id="project-funding"
                name="project-funding"
              />
            </div>
            <div class="form-group">
              <label for="project-desc">Tell us about your project:</label>
              <textarea
                class="form-input"
                id="project-desc"
                name="project-desc"
              ></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>

        {{#if projects.length}}
          <div class="col-md-6 project-list">
            <h3>View your projects</h3>

            {{#each projects as |project|}}
              <div class="row mb-2">
                <div class="col-md-8">
                  <h4><a style="text-decoration: none"
                      href="/project/{{project.id}}"
                    >{{project.name}}</a></h4>
                </div>
                <div class="col-md-4">
                  <button
                    class="btn btn-sm btn-danger"
                    data-id="{{project.id}}"
                  >DELETE</button>
                </div>
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>
    </main>
  </div>
</div>

<script src="./js/profile.js"></script>