<div>
  <div class="card" style="width: 18rem;">
    <img src="../public/image-1.gif" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Created by {{user.name}}</li>
      <li class="list-group-item">{{format_date date_created}}</li>
      <li class="list-group-item">{{format_amount needed_funding}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Contribute </a>
      <a href="#" class="card-link">READ About</a>
    </div>
  </div>
</div>